<footer class="footer">
  <div class="wrapper">
    <div
      class="footer__item"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div class="footer__text">© 2024 ToothLab</div>
      <div class="footer__links">
        <a href="#" class="footer__links-item">
          <div>
            <img src="../../assets/linkedin.svg" alt="linkedin" />
          </div>
        </a>
        <a href="#" class="footer__links-item">
          <div>
            <img src="../../assets/facebook.svg" alt="facebook" />
          </div>
        </a>
        <a href="#" class="footer__links-item">
          <div>
            <img src="../../assets/instagram.svg" alt="instagram" />
          </div>
        </a>
      </div>
    </div>
  </div>
</footer>
