@import "../base.colors.scss";
.teeth-container {
  height: 100%;
  width: 70%;
  margin-top: 20px;

  .tooth {
    &:hover {
      cursor: pointer;
    }
  }
  .part-of-tooth {
    fill: transparent;
    transition: fill 0.3s ease;
    &.active {
      fill: #323535;
      z-index: 998;
    }
    &.clickable:hover {
      cursor: pointer;
    }
  }
}

.leave-comment {
  margin-left: 10%;
  width: 30%;
  margin-top: 100px;
}

.comments-field {
  width: 30%;
  margin-left: 10%;
  margin-top: 10px;
}

.plomba {
  z-index: 999;
}

.form-field {
  width: 100%;
}

.edit-button {
  background-color: $green-base !important;
}

.save-comment-button {
  background-color: $blue-base !important;
}

.svg-styles {
  width: 100%;
  height: 100%;
}

.main-div {
  width: 100%;
}

.checkboxes {
  margin-top: 200px;
  width: 30%;
}

.tooth-map {
  margin-top: 10svh;
  width: 50%;
  position: absolute;
}

.mouth {
  width: 70%;
  z-index: 100;
}

.mandible {
  margin-top: 90px;
  margin-left: 4px;
}

#bolachka {
  height: 25px;
  width: 25px;
  position: absolute;
  padding-left: 17px;
  bottom: -5px;
}

.toothMarginB {
  margin-bottom: 40px;
}

// #showBolachka:checked ~ .teeth-container #bolachka {
//   display: block;
// }

.mirror {
  transform: scaleX(-1);
}

.common {
  width: 50%;
}

.tooth26 {
  margin-top: 40px;
}

.tooth21 {
  margin-top: 40px;
}

.tooth19 {
  margin-top: 50px;
}

.tooth18 {
  margin-top: 50px;
}

.tooth17 {
  margin-top: 50px;
}

.tooth16 {
  margin-top: 40px;
}

.tooth12 {
  z-index: 31;
}

.tooth-zero-z {
  z-index: 0;
}

.tooth13 {
  z-index: 32;
}

.tooth11 {
  margin-left: 0px;
  z-index: 30;
}

.tooth10 {
  z-index: 29;
}

.tooth9 {
  z-index: 28;
}

.tooth8 {
  z-index: 27;
}

.tooth7 {
  z-index: 26;
}

.tooth6 {
  z-index: 25;
}

.tooth5 {
  z-index: 24;
}

.tooth4 {
  z-index: 23;
}

.tooth3 {
  z-index: 22;
}

.tooth2 {
  z-index: 21;
}

.tooth1 {
  z-index: 20;
}

.tooth0 {
  z-index: 21;
}

.toothPlusMarginR {
  margin-right: 5px;
}

.toothPlusMarginL {
  margin-left: 5px;
}

.tooth0,
.tooth1,
.tooth2,
.tooth3,
.tooth4,
.tooth5,
.tooth6,
.tooth7,
.tooth8,
.tooth9,
.tooth10,
.tooth11,
.tooth12,
.tooth13,
.toothPlusMarginL,
.toothPlusMarginR,
.tooth-zero-z,
.tooth14,
.tooth16,
.tooth17,
.tooth18,
.tooth19,
.tooth21,
.tooth26 {
  height: 100%;
}

@media (max-width: 760px) {
  .tooth0,
  .tooth1,
  .tooth2,
  .tooth3,
  .tooth4,
  .tooth5,
  .tooth6,
  .tooth7,
  .tooth8,
  .tooth9,
  .tooth10,
  .tooth11,
  .tooth12,
  .tooth13,
  .tooth14,
  .tooth16,
  .tooth17,
  .tooth18,
  .tooth19,
  .tooth21,
  .tooth26 {
    margin-left: 0;
  }
}

@media (max-width: 1500px) {
  .mandible {
    margin-top: 65px;
  }

  .checkboxes {
    margin-top: 150px;
  }
}

@media (max-width: 1200px) {
  .checkboxes {
    margin-top: 50px;
  }
}

@media (max-width: 1020px) {
  .mouth {
    width: 80%;
  }

  .tooth-map {
    width: 57%;
  }

  .mandible {
    margin-top: 55px;
  }

  .leave-comment,
  .comments-field {
    width: 50%;
    margin-left: 5%;
  }
}

@media (max-width: 760px) {
  .mouth {
    width: 90%;
  }

  .tooth-map {
    width: 65%;
  }

  .leave-comment,
  .comments-field {
    width: 70%;
  }
}
