<div class="abouts" id="articles">
  <div class="wrapper-full">
    <div class="abouts__about about">
      <div class="about__pic">
        <img
          src="../../assets/1064281.avif"
          alt="Prefecture in Focus: Tottori"
          class="about__thumb"
        />
      </div>
      <div class="about__info">
        <h3 class="about__title">Чому ми?</h3>
        <p class="about__desc">
          Наш сайт пропонує стоматологам інноваційний підхід до ведення
          особистих карток клієнтів завдяки інтеграції сучасних технологій.
          Зручний та інтуїтивний інтерфейс дозволяє швидко та ефективно керувати
          інформацією про пацієнтів, що підвищує продуктивність роботи.
        </p>
        <a href="#" class="about__link">Читай більше тут</a>
      </div>
    </div>
    <div class="abouts__about about">
      <div class="about__info">
        <h3 class="about__title">Голосовий асистент</h3>
        <p class="about__desc">
          Унікальна функція голосового асистента на зубній мапі забезпечує
          швидкий доступ до даних та легке внесення змін, що значно полегшує
          комунікацію з пацієнтами та сприяє точному та своєчасному лікуванню.
          Обираючи наш сайт, ви отримуєте надійного помічника у вашій щоденній
          практиці, який економить ваш час і робить вашу роботу ще більш
          професійною.
        </p>
        <a href="#" class="about__link">Читай більше тут</a>
      </div>
      <div class="about__pic about__pic_mob-first">
        <img
          src="..//../assets/dentist.jpg"
          alt="Featured Neighborhood: Kyoto’s Arashiyama"
          class="about__thumb"
        />
      </div>
    </div>
  </div>
</div>
